{% extends 'main/base.html' %}
{% load static %}
{% block content %}

         <!----page header----->
         <div class="page_header_default style_one ">
            <div class="parallax_cover">
               <img src="{% static 'assets/images/pexels-dazzle-jam-1393530.jpg' %}"  alt="bg_image" class="cover-parallax">
            </div>
            <div class="page_header_content">
               <div class="auto-container">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="banner_title_inner">
                           <div class="title_page">
                              About Us
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-12">
                        <div class="breadcrumbs creote">
                           <ul class="breadcrumb m-auto">
                              <li><a href="index.html">Home</a> </li>
                              <li class="active">About Us</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!----page header----->
         <!--===============PAGE CONTENT==============-->
         <!--===============PAGE CONTENT==============-->
         <div id="content" class="site-content ">
            <!---about--->
            <section class="about-section">
               <!--===============spacing==============-->
               <div class="pd_top_90"></div>
               <!--===============spacing==============-->
               <div class="container">
                  <div class="row">
                     <div class="col-xl-6 col-lg-12 ">
                        <div class="about_content position-relative z_99">
                           <div class="title_all_box style_one text-left  dark_color">
                              <div class="title_sections">
                                 <div class="before_title">About Us</div>
                                 <h2>Our Legacy of Compassion</h2>
                              </div>
                           </div>
                           <!--===============spacing==============-->
                           <div class="pd_bottom_15"></div>
                           <!--===============spacing==============-->
                           <div class="extra_content image_with_content dark_color">
                              <div class="simple_image">
                                 <img src="{% static 'assets/images/nigeria.svg' %}" alt="img">
                                 <h2> Since 2001, <br> Operating in Nigeria.</h2>
                              </div>
                           </div>
                           <!--===============spacing==============-->
                           <div class="pd_bottom_20"></div>
                           <!--===============spacing==============-->
                           <div class="description_box">
                              <p>Welcome to Solid Indeed Funeral & Casket, where compassion meets commitment. Established in [year], we have been dedicated to providing heartfelt funeral services and quality caskets to our community. Our mission is rooted in supporting families with empathy, respect, and personalized care during times of loss. </p>
                           </div>
                           <!--===============spacing==============-->
                           <div class="pd_bottom_25"></div>
                           <!--===============spacing==============-->
                           <div class="row gutter_15px">
                              <div class="col-lg-6 col-md-12">
                                 <div class="icon_box_all  style_two">
                                    <div class="icon_content  icon_imgs ">
                                       <div class="icon">
                                          <img src="{% static 'assets/images/icon-img-n-1.png' %}" class="img-fluid svg_image"
                                             alt="icon png">
                                       </div>
                                       <div class="txt_content">
                                          <h3><a href="#" target="_blank" rel="nofollow">Tailored Advice &amp; Support</a>
                                          </h3>
                                       </div>
                                    </div>
                                    <!--===============spacing==============-->
                                    <div class="pd_bottom_25"></div>
                                    <!--===============spacing==============-->
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-12">
                                 <div class="icon_box_all  style_two">
                                    <div class="icon_content  icon_imgs ">
                                       <div class="icon">
                                          <img src="{% static 'assets/images/icon-img-n-2.png' %}" class="img-fluid svg_image"
                                             alt="icon png">
                                       </div>
                                       <div class="txt_content">
                                          <h3><a href="#" target="_blank" rel="nofollow">Flexible Company Policies</a></h3>
                                       </div>
                                    </div>
                                    <!--===============spacing==============-->
                                    <div class="pd_bottom_25"></div>
                                    <!--===============spacing==============-->
                                 </div>
                              </div>
                           </div>

                           <div class="theme_btn_all color_one">
                              <a href="#" target="_blank" rel="nofollow" class="theme-btn five">Contact us<i
                                    class="icon-right-arrow"></i></a>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-12">
                        <div class="image_boxes style_two">
                           <img src="{% static 'assets/images/shape-1.png' %}" class="background_image" alt="image">
                           <div class="image one">
                              <img src="{% static 'assets/images/blog/pexels-mario-wallner-12403416.jpg' %}" class="img-fluid" alt="image">
                           </div>
                           <div class="image two">
                              <img src="{% static 'assets/images/blog/pexels-pavel-danilyuk-7317908.jpg' %}" class="img-fluid" alt="image">
                              <div class="video_box">
                                 <a href="#" class="lightbox-image"><i class="icon-play"></i></a>
                              </div>
                           </div>
                           <div class="authour_quotes">
                              <i class="icon-quote"></i>
                              <h6>Dignity Encased in Every Choice.</h6>
                              <p>/ Solid Funeral and Casket</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!--===============spacing==============-->
               <div class="pd_bottom_70"></div>
               <!--===============spacing==============-->
            </section>
            <!---about end--->
            <!---service--->
            <section class="service-icon-section bg_light_1">
            <!--===============spacing==============-->
            <div class="pd_top_90"></div>
            <!--===============spacing==============-->
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="title_all_box style_one text-center dark_color">
                           <div class="title_sections">
                              <div class="before_title">Our Business</div>
                              <h2 class="title">Stand Out From The Rest</h2>
                           </div>
                           <!--===============spacing==============-->
                           <div class="pd_bottom_20"></div>
                           <!--===============spacing==============-->
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="simple_image_boxes parallax_cover height_264px">
                              <img src="{% static 'assets/images/pexels-pavel-danilyuk-7317737.jpg' %}" class="simp_img cover-parallax" alt="image">
                        </div>
                        <!--===============spacing==============-->
                        <div class="pd_bottom_20"></div>
                        <!--===============spacing==============-->
                        <div class="icon_box_all style_three">
                           <div class="icon_content ">
                              <div class="icon">
                                 <span class=" icon-bow-and-arrow"></span>
                              </div>
                              <div class="txt_content">
                                 <h3><a href="#" target="_blank" rel="nofollow">Our Mission</a></h3>
                                 <p>our mission is to provide unwavering support and compassionate care to families during their most challenging times. </p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-4 mt-lg-0 mt-xl-0">
                        <div class="icon_box_all style_three">
                           <div class="icon_content ">
                              <div class="icon">
                                 <span class=" icon-growth"></span>
                              </div>
                              <div class="txt_content">
                                 <h3><a href="#" target="_blank" rel="nofollow">Our Core Values</a></h3>
                                 <p>We approach our work with deep empathy, recognizing the emotional weight of loss and aiming to provide comfort and understanding to grieving families.</p>
                                 <ul>
                                    <li>Compassion</li>
                                    <li>Commitment to excellence</li>
                                    
                                    <li>Accountability</li>
                                    <li>Integrity</li>
                                 </ul>
                                 <div class="btn_left">
                                    <a href="#" target="_blank" rel="nofollow" class="theme-btn one">Read More</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-4 mt-lg-4 mt-xl-0">
                        <div class="icon_box_all style_three">
                           <div class="icon_content ">
                              <div class="icon">
                                 <span class=" icon-binoculars"></span>
                              </div>
                              <div class="txt_content">
                                 <h3><a href="#" target="_blank" rel="nofollow">Our Vision</a></h3>
                                 <p>Our vision at Solid Indeed Funeral & Casket is to be the guiding light for families seeking solace and support during their most difficult moments. </p>
                              </div>
                           </div>
                        </div>
                        <!--===============spacing==============-->
                        <div class="pd_bottom_20"></div>
                        <!--===============spacing==============-->
                        <div class="simple_image_boxes  height_264px">
                           <img src="{% static 'assets/images/flowers.jpg' %}" class="simp_img img-fluid" alt="image">
                        </div>
                     </div>
                  </div>
               </div>
            <!--===============spacing==============-->
            <div class="pd_top_90"></div>
            <!--===============spacing==============-->
            </section>
            <!---service end--->
            <!----process---->
            <section class="process-section">
            <!--===============spacing==============-->
               <div class="pd_top_80"></div>
            <!--===============spacing==============-->
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="title_all_box style_three text-center dark_color">
                           <div class="title_sections three">
                              <div class="before_title">We're Here for You</div>
                              <h2>Why Choose Us</h2>
                              <p>
                                 Choosing the right funeral home is a deeply personal decision.<br> At Solid Indeed Funeral & Casket, we offer:
                              </p>
                           </div>
                           <!--===============spacing==============-->
                              <div class="pd_bottom_25"></div>
                           <!--===============spacing==============-->
                        </div>
                     </div>
                  </div>
                  <div class="row align-items-center">
                     <div class="col-lg-4 col-md-12 col-sm-12 mb-sm-5 mb-md-5 mb-lg-0 mb-xl-0">
                        <div class="process_box style_three dark_color">
                           <div class="process_box_outer_three left">
                              <div class="icon">
                                 <div class="img">
                                    <img src="{% static 'assets/images/service-ico-3.png' %}" class="img-fluid svg_image"
                                       alt="icon png">
                                 </div>
                              </div>
                              <div class="content_box">
                                 <h2><a href="#" target="_blank" rel="nofollow">Compassionate Expertise:</a></h2>
                                 <p>Our experienced and compassionate team is dedicated to guiding you with care and empathy.</p>
                              </div>
                              <div class="number">
                                 <h6>01</h6>
                              </div>
                           </div>
                        </div>
                        <!--===============spacing==============-->
                           <div class="pd_top_30"></div>
                        <!--===============spacing==============-->
                        <div class="divider_1"></div>
                        <!--===============spacing==============-->
                           <div class="pd_bottom_40"></div>
                        <!--===============spacing==============-->
                        <div class="process_box style_three dark_color">
                           <div class="process_box_outer_three left">
                              <div class="icon">
                                 <div class="img">
                                    <img src="{% static 'assets/images/process-icon-im-1.png' %}" class="img-fluid svg_image"
                                       alt="icon png">
                                 </div>
                              </div>
                              <div class="content_box">
                                 <h2> <a href="#" target="_blank" rel="nofollow">
                                       Quality Caskets: </a>
                                 </h2>
                                 <p> Our selection of quality caskets is designed to provide a dignified and elegant resting place for your loved one.</p>
                              </div>
                              <div class="number">
                                 <h6> 02</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-12 col-sm-12 mb-sm-5 mb-md-5 mb-lg-0 mb-xl-0">
                        <div class="image_boxes style_three  border_yes ">
                           <img src="{% static 'assets/images/cremation-urn-and-bible-12052CS-U.jpg' %}" class="background_image" alt="image">
                           <div class="video_box">
                              <a href="https://www.youtube.com/embed/-VK0axfge4A" class="lightbox-image"><i
                                    class="icon-play"></i></a>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="process_box style_three dark_color">
                           <div class="process_box_outer_three right">
                              <div class="icon">
                                 <div class="img">
                                    <img src="{% static 'assets/images/service-ico-2.png' %}" class="img-fluid svg_image"
                                       alt="icon png">
                                 </div>
                              </div>
                              <div class="content_box">
                                 <h2><a href="#" target="_blank" rel="nofollow">24/7 Support</a></h2>
                                 <p>Grief doesn't adhere to a schedule. Our dedicated team is available around the clock to provide support you need us.</p>
                              </div>
                              <div class="number">
                                 <h6>03</h6>
                              </div>
                           </div>
                        </div>
                        <!--===============spacing==============-->
                           <div class="pd_top_30"></div>
                        <!--===============spacing==============-->
                        <div class="divider_1"></div>
                        <!--===============spacing==============-->
                           <div class="pd_bottom_40"></div>
                        <!--===============spacing==============-->
                        <div class="process_box style_three dark_color">
                           <div class="process_box_outer_three right">
                              <div class="icon">
                                 <div class="img">
                                    <img src="{% static 'assets/images/process-icon-im-2.png' %}" class="img-fluid svg_image"
                                       alt="icon png">
                                 </div>
                              </div>
                              <div class="content_box">
                                 <h2><a href="#" target="_blank" rel="nofollow">Community Connection</a></h2>
                                 <p>SolBeyond being a service provider, we are neighbors committed to supporting and contributing to the well-being of the community we serve.</p>
                              </div>
                              <div class="number">
                                 <h6>04</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            <!--===============spacing==============-->
               <div class="pd_bottom_75"></div>
            <!---contact-client--->
            <section class="contact-client-carousel-section">
               <div class="row">
                  <div class="col-xxl-5 col-xl-5 col-lg-12 bg_op_1" style="background: url({% static 'assets/images/graveyard-1697469_640.jpg' %});">
                     <div class="videobtns text-center pd_right_100 pd_left_100 pd_top_100 pd_bottom_100">
                        <!--===============spacing==============-->
                           <div class="pd_top_80"></div>
                           <div class="pd_top_10"></div>
                        <!--===============spacing==============-->
                        <div class="video_btn_all">
                           
                           <!--===============spacing==============-->
                            <div class="pd_bottom_30"></div>
                           <!--===============spacing==============-->
                        </div>
                        
                        <!--===============spacing==============-->
                           <div class="pd_top_100"></div>
                        <!--===============spacing==============-->
                     </div>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-md-12 bg_op_1"
                     style="background-image: url({% static 'assets/images/home-12-testi.jpg' %});">
                     <!--===============spacing==============-->
                     <div class="pd_top_90"></div>
                     <!--===============spacing==============-->
                     <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-9 col-md-12">
                           <div class="client-brand-wrapper">
                              <div class="title_all_box style_one light_color">
                                 <div class="title_sections left">
                                    <h2>Eco Funeral </h2>
                                    <p>At Solid Indeed Funeral & Casket, we recognize the importance of environmental responsibility and offer eco-friendly funeral options designed to minimize our ecological impact while providing a meaningful farewell for your loved one.</p>
                                 </div>
                              </div>
                              <!--===============spacing==============-->
                              <div class="pd_bottom_15"></div>
                              <!--===============spacing==============-->
                              <div class="client_logo_carousel type_two">
                                 <div class="swiper-container" data-swiper='{
                                    "autoplay": {
                                      "delay": 6000
                                    },
                                    "freeMode": true,
                                    "loop": true,
                                    "speed": 1000,
                                    "centeredSlides": false,
                                    "slidesPerView": 4,
                                    "spaceBetween": 30,
                                    "pagination": {
                                      "el": ".swiper-pagination",
                                      "clickable": true
                                    },
                                     
                                    "breakpoints": {
                                       "1200": {
                                          "slidesPerView": 4
                                       },
                                       "1024": {
                                        "slidesPerView": 4 
                                       },
                                      "768": {
                                        "slidesPerView": 4
                                      },
                                      "576": {
                                        "slidesPerView": 3 
                                      },
                                      "250": {
                                       "slidesPerView": 2
                                     },
                                      "0": {
                                        "slidesPerView": 1 
                                      }
                                    }
                                  }'>
                                    <div class="swiper-wrapper">
                                       <div class="swiper-slide">
                                          <div class="image  text-start">
                                             <img src="{% static 'assets/images/CLIENT-logo-w.png' %}" alt="clients-logo"
                                                style="width: 160px!important;  ">
                                          </div>
                                       </div>
                                       <div class="swiper-slide">
                                          <div class="image  text-start">
                                             <img src="{% static 'assets/images/CLIENT-logo-3-w.png' %}" alt="clients-logo"
                                                style="width: 200px!important;  ">
                                          </div>
                                       </div>
                                       <div class="swiper-slide">
                                          <div class="image  text-start">
                                             <img src="{% static 'assets/images/CLIENT-logo-2-w.png' %}" alt="clients-logo"
                                                style="width: 137px!important;  ">
                                          </div>
                                       </div>
                                       <div class="swiper-slide">
                                          <div class="image  text-start">
                                             <img src="{% static 'assets/images/CLIENT-logo-1-w.png' %}" alt="clients-logo"
                                                style="width: 100px!important;  ">
                                          </div>
                                       </div>
                                    </div>
                                     
                                 </div>
                              </div>
                              <!--===============spacing==============-->
                              <div class="pd_bottom_40"></div>
                              <!--===============spacing==============-->
                              
                           </div>
                        </div>
                        <div class="col-lg-2"></div>
                     </div>
                     <!--===============spacing==============-->
                     <div class="pd_bottom_60"></div>
                     <!--===============spacing==============-->
                  </div>
               </div>
            </section>
            <!---contact-client-end--->
              <!---team--->
              <section class="team-section">
               <!--===============spacing==============-->
               <div class="pd_top_80"></div>
               <!--===============spacing==============-->
               <div class="container">
                  
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="team_box style_one">
                           <div class="team_box_outer">
                              <div class="title_all_box style_one  dark_color">
                           <div class="title_sections">
                              <div class="before_title"> Reach Out, We're Here for You</div>
                              <h2>Contact Us:</h2>
                           </div>
                        </div>
                              <p>Solid Indeed Funeral & Casket is conveniently located at [Address]. Our caring team is available 24/7 to assist you. For inquiries, please call +23456789000 or use our online Contact Form. We are honored to serve you with compassion and dedication.</p>
                           </div>
                        </div>
                        <!--===============spacing==============-->
                        <div class="mr_bottom_30"></div>
                        <!--===============spacing==============-->
                     </div>
                     
                     <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <section class="contact_form_box_all type_three">
                                 <div class="contact_form_box_inner simple_form">
                                    <div class="contact_form_shortcode">
                                       <div role="form" class="wpcf7">
                                           
                                          <form action="#" method="post" class="wpcf7-form init">
                                             
                                             <div class="row">
                                                <div class="col-lg-6">
                                                   <label> Your name<br>
                                                   <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Enter Your Name"></span><br>
                                                   <i class="fa fa-user"></i><br>
                                                   </label>
                                                </div>
                                                <div class="col-lg-6">
                                                   <label> Your email<br>
                                                   <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Enter Your Email"></span><br>
                                                   <i class="fa fa-envelope"></i><br>
                                                   </label>
                                                </div>
                                                <div class="col-lg-6">
                                                   <label> Phone Number<br>
                                                   <span class="wpcf7-form-control-wrap tel-922"><input type="tel" name="tel-922" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="Enter Your Number"></span><br>
                                                   <i class="fa fa-phone"></i><br>
                                                   </label>
                                                </div>
                                                <div class="col-lg-6">
                                                   <label> Subject<br>
                                                   <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Enter Your Subject"></span><br>
                                                   <i class="fa fa-folder"></i><br>
                                                   </label>
                                                </div>
                                                <div class="col-lg-12 text_area">
                                                   <label> Your message (optional)<br>
                                                   <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Enter Your Message"></textarea></span><br>
                                                   <i class="fa fa-comments"></i><br>
                                                   </label>
                                                </div>
                                                <div class="col-lg-12">
                                                   <input type="submit" value="Submit" class="wpcf7-form-control has-spinner wpcf7-submit">
                                                </div>
                                             </div>
                                         
                                          </form>
                                       </div>
                                    </div>
                                 </div>
                              </section>
                           </div>
                  </div>
               </div>
               <!--===============spacing==============-->
               <div class="pd_bottom_60"></div>
               <!--===============spacing==============-->
            </section>
            <!---team-end--->
{% endblock %}